.app{
    margin: 2% 2%;
    
}
.block{
    display: flex ;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.blockButton{
    display: flex ;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
  }
  .content{
    width: 100%;
  }