body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

button, input, textarea {
  flex-grow: 1; /* Растягиваем input на всю доступную ширину */
  border: none; /* Убираем стандартную рамку */
  background: transparent; /* Убираем фоновый цвет */
  color: inherit; /* Наследует цвет текста от родительского элемента */
  font: inherit; /* Наследует шрифт */
  padding: 0; /* Убираем отступы по умолчанию */
  width: 100%; /* Чтобы точно растягивался по ширине */
  outline: none; /* Убираем контур при фокусе */
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
