.uppend {
    position: relative;
    margin: 10px;
    &__block {
  
      background-color: #1cce05;
      display: flex;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  }
  
  .selected{
    background-color: rgb(35, 35, 228) !important;
    color: #ffff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }